---
const { pageTitle } = Astro.props;
import BaseLayout from '../layout/BaseLayout.astro';
import BlogPostCard from '../components/Postcard.astro';


type Post = {
    frontmatter: {
        title: string;
        date: string;
        excerpt: string;
    };
    url: string;
};

// Get all posts and sort them by date
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true })) as Post[];

// Sort posts by date in descending order (latest posts first)
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="title">Welcome to Morks News Network</h1>

    <!-- Blog posts grid -->
    <div class="posts-grid">
        {sortedPosts.map((post) => (
                <BlogPostCard
                        url={post.url}
                        title={post.frontmatter.title}
                        date={post.frontmatter.date}
                        excerpt={post.frontmatter.excerpt}
                />
        ))}
    </div>
</BaseLayout>
